body{
    width: auto;
    background-color: darkseagreen;
}
.wrapper{
    background-color: darkseagreen;
}
.header_top img{
    background-color: cadetblue;
    width: 200px;
}
h1{
    word-wrap:break-word;
    min-width:100px ;
    max-width:800px;
    margin-left: auto;
    font-size: 28px;
}
h2{
    color: #ffffff;
}
p{
    word-wrap:break-word;
    min-width:100px ;
    max-width:900px;
    margin-left: auto;
    font-size: 18px;
}
/**navigation bar **/
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}
.nav-navigation li {
    float: left;
}
.nav-navigation li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
}
.nav-navigation li a:hover {
    background-color: darkcyan;
}
/**Article text**/
article{
    float:right;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
/** sidebar **/
.sidebar{
    width: 360px;
    background: darkslategray;
    float:left;
    position: relative;
    padding-bottom: 25%;
}
.post-sidebar h1{
    font-size: 34px;
    color: #ffffff;
    text-align: center;
}
.lef-side a {
    color: #ffffff;
    list-style: none;
    text-decoration: none;
}
.lef-side li{
    list-style: none;
    font-size: 20px;
    text-align: center;
}
.footercount{
    position: relative;
    margin-top: 665px;
}